// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#jumbotron {
  background: url("../img/pirate-ship.jpg") no-repeat center center;
  background-size: cover;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
}

#center {
  text-align: center;
  color: #fff;
  font-size: 75px;
}

#sub-cap {
  text-align: center;
  color: #fff;
  font-size: 35px;
}

#kraken-title {
  text-align: left;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: darkslategray;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  justify-content: center;
  align-items: center;
}

.byline {
  font-weight: bold;
}

.credit {
  font-style: italic;
  font-weight: light;
}